@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }

  .header {
    clip-path: polygon(0 0, 100% 0, 100% 76.5vh, 0 100%);
    height: 95vh;
  }

  .book {
    background-image: linear-gradient(
        105deg,
        rgba(255, 255, 255, 0.9) 0%,
        rgba(255, 255, 255, 0.9) 65%,
        transparent 65%
      ),
      url("../images/monument.jpg");
  }

  .book__form {
    width: 65%;
  }

  #mistakes {
    position: relative;
    width: 100%;
    right: 0;
  }

  #section-stats {
    clip-path: polygon(0 37%, 100% -1%, 100% 100%, 0% 100%);
    margin-top: -16.5rem;
  }

  .lodging {
    width: auto !important;
    margin-right: 2rem !important;
  }
}

@media (max-width: 56.25em) {
  html {
    font-size: 50%;
  }

  body {
    padding: 0;
  }

  #sidenav__button {
    top: 4.5rem;
    right: 4.5rem;
  }

  .header {
    clip-path: polygon(0 0, 100% 0, 100% 90vh, 0 100%);
  }

  #rnPrice {
    width: 80%;
  }

  #shTabs {
    width: 75%;
  }

  #shTabs li {
    width: 17rem;
  }

  .footer {
    padding: 5rem;
  }

  .footer__navigation {
    width: 100%;
    text-align: center;
  }

  .footer__list {
    padding: 2.5rem 0;
  }

  .footer__copyright {
    width: 100%;
    float: none;
  }

  #section-stats {
    clip-path: polygon(0 37%, 100% 26%, 100% 100%, 0% 100%);
  }

  .book {
    background-image: linear-gradient(
        to right,
        rgba(255, 255, 255, 0.9) 0%,
        rgba(255, 255, 255, 0.9) 100%
      ),
      url("../images/monument.jpg");
  }

  .book__form {
    width: 100%;
  }

  .background-for-modal {
    display: none;
  }

  .author-modal {
    width: 80%;
    min-height: 12rem;
    align-items: center;
    justify-content: center;
  }

  input[type="submit"] {
    width: 7rem;
  }

  .lodging img {
    width: 100%;
  }

  #section-lodging {
    height: 65rem;
    margin: 0 20px;
  }

  #sorting ul li {
    margin: 2px;
  }

  #sorting ul li a {
    padding: 5px;
  }
}

@media (max-width: 76em) {
  #section-lodging {
    height: 117rem;
  }
}

@media (max-width: 37.5em) {
  .heading-primary--second,
  #slow-text {
    letter-spacing: 1.5rem;
  }

  .heading-primary--main {
    letter-spacing: 1rem;
  }

  .heading-secondary {
    font-size: 2rem;
  }

  #sidenav__button {
    top: 3.5rem;
    right: 3.5rem;
  }

  .row [class^="col-"] {
    width: 100% !important;
    text-align: center;
  }

  .input {
    padding: 1.5rem 1.5rem;
  }

  .header {
    clip-path: polygon(0 0, 100% 0, 100% 84vh, 0 92%);
  }

  #section-stats {
    clip-path: polygon(0 10%, 100% 3%, 100% 100%, 0% 100%);
    margin-top: -14.5rem;
  }

  #shTabs {
    width: 75%;
  }

  #shTabs li {
    width: 100%;
  }

  #shTabs a {
    width: 90%;
  }

  .book__form {
    width: 100%;
    padding: 2rem;
  }

  .btn,
  .btn:link,
  .btn:visited {
    padding: 1rem 2.5rem;
  }

  .author-modal {
    width: 100%;
    padding: 5rem;
    flex-direction: column;
  }

  .author-modal img {
    margin-top: 1.4rem;
  }

  #close {
    right: 6rem;
    top: 0.8rem;
  }

  .modal-col {
    margin: 0;
  }

  .priceBtn {
    margin: 1rem;
  }

  .lodging img {
    width: 100%;
  }

  .btnReserv {
    width: 8rem;
    height: 3rem;
  }

  .hotel-feature i {
    font-size: 1rem;
  }

  #section-lodging {
    height: 230rem;
  }

  .lodging {
    width: auto !important;
    margin-right: 0 !important;
  }

  #section-lodging h3 {
    font-size: 1.8rem;
  }
}

@media (max-width: 36em) {
  .header {
    clip-path: polygon(0 0, 100% 0, 100% 84vh, 0 94%);
  }

  #filtering input {
    margin-left: 5px;
  }
}

@media (min-width: 152.5em) {
  html {
    font-size: 75%;
  }

  #section-lodging {
    margin-left: 250px;
  }

  #section-stats {
    clip-path: polygon(0 49%, 100% 1%, 100% 100%, 0% 100%);
    margin-top: -21.9rem;
  }
}
